footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fdfafa;
}

a.prev-page,
a.next-page {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}

a.prev-page {
  border: 1px solid #333;
}

a.next-page {
  border: 1px solid #555;
}

a.prev-page:hover,
a.next-page:hover {
  background-color: #333;
  color: #fff;
}


body {
  margin: 0;
  padding: 0;
}

.left-panel {
  width: 220px; /* Adjust the width as needed */
  height: 100vh; /* 100% of the viewport height */
  background-color: #f1f1f1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed; /* Fixes the panel on the left side */
  top: 0;
  left: 0;
  z-index: 999; /* Ensures the panel is above other content */
}

.left-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-panel li {
  margin-bottom: 10px;
}

.left-panel li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.left-panel li a:hover {
  background-color: #f9f9f9;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-content {
  display: none;
  margin-top: 5px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  left: 100%; /* Position the dropdown to the right of the button */
  top: 0;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:focus .dropdown-content,
.dropdown-content:target {
  display: block;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .dropdown-content {
    position: static;
  }
}
